
.header__lang-link {
    display: flex;
    justify-self: end;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 1.17;
    text-align: right;
    margin-left: 18px;
    margin-top: 18px;
    margin-bottom: 6px;
    text-decoration-line: underline;
}
.header__lang-link_none-underline {
    text-decoration-line: none;
}
@media screen and (max-width:320px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 1.11;
    }
}