.footer__links {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: white;
}
@media screen and (max-width:320px) {
    .footer__links {
        flex-direction: column;
        min-height: 248px;
        justify-content: space-between;
    }
}
